<div class="todo-item" [ngClass]="{ 'completed':  todo.completed }">
    <!--<div class="todo-item" *ngFor="let todo of todos" [class.completed]="todo.completed">-->
    <button class="checkbox icon" (click)="onToggle()">
        <i class="material-icons">{{todo.completed ? 'check_box' : 'check_box_outline_blank'}}</i>
    </button>
    <span class="title">{{ todo.title }}</span>
    <div class="actions">
        <button class="delete icon" (click)="onDelete()">
        <!--Тут видалити неможливо, оск доступу до масиву тут немає-->
        <!--Потрібно сказати батьківському елементу що видалити-->
        <!--Створимо тут подію і підпишемо батька не неї-->
        <!--Т.т при кліку викликається внутр метод onDelete, що генерує подію, яка доступна для перехоплення батьком-->
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>